@media (min-width: 1280px){
    #erro{
        position: absolute;
        margin-top: -610px;
        margin-left: 890px;
    }

    #finalizar{
        width: 93.75vw;
        height: 96vh;
    }
    
    footer{
        margin-top: 8vh;
    }
}