@media (min-width: 1920px){
    main{
        margin-top: 140px;
    }

    #erro{
        margin-top: -700px;
    }

    #finalizar{
        margin-top: -710px;
        margin-left: 0px;
        width: 95.85vw;
        height: 95.2vh;
    }
    
    footer{
        margin-top: 33vh;
    }
}   

