@media (min-width: 1920px){
    main{
        margin-top: 100px;
    }

    #erro{
        margin-top: -650px;
    }

    #finalizar{
        margin-top: -710px;
        margin-left: 0px;
        width: 95.82vw;
        height: 95.68vh;
    }
    
    footer{
        margin-top: 22vh;
    }
}   

